<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title" i18n="Login button| The button that connects the customer to the application app@con1">Login</div>
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLogin()" novalidate>
      <div class="form-container">
        <mat-form-field>
          <input id="name"
                 matInput
                 style="color: black"
                 formControlName="name"
                 placeholder="Enter your name" i18n="Name|The name of the person app@con2">
        </mat-form-field>

        <mat-form-field>
          <input id="password"
                 matInput
                 style="color: black"
                 formControlName="password"
                 placeholder="Enter your password" style="color: black"
                 [type]="hide ? 'password' : 'text'"/>
          <mat-icon matSuffix (click)="hide = !hide" style="color: black" i18n="Password|The password of the customer app@con3">
            {{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <h3>
          <button mat-button type="submit"
                  class="mat-raised-button mat-primary"
                  [disabled]="!loginForm.valid" i18n>Login
          </button>

        </h3>
      </div>
    </form>
  </div>
</div>
